body{
  background-color: black;
  color: white;
  margin-top: 50px;
}
.bg-body-secondary {
  background-image: url('/Images/yellow.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  color: #fff; /* Sets text color to white for better contrast */
}

.fst-italic{
  font-weight: bolder;
}
.my-3{
  font-weight: 700;
  font-size: large;
}
.text-center{
  width: 250px;
  height: 250px;
}
.navbar-custom {
  background-color: black;
}
.navbar-custom .nav-link {
  color: white;
}
.navbar-custom .nav-link:hover {
  color: #d3d3d3;
}
.navbar-custom svg {
  fill: white;
}
.navbar-custom svg:hover {
  fill: #d3d3d3;
} 

a{
  text-decoration: none;
}
.block{
  background-image: url(/Images/yellow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tindog{
  background-image: url(/Tindog/dog-img.jpg);
}

.project{
  color: white;
}
.position-sticky{
  margin-top: 20px;
}
.list{
  color: rgb(229, 221, 221);
}
