/* body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;

}

.navbar-custom {
  background-color: black;
}
.navbar-custom .nav-link {
  color: white;
}
.navbar-custom .nav-link:hover {
  color: #d3d3d3;
}
.navbar-custom svg {
  fill: white;
}
.navbar-custom svg:hover {
  fill: #d3d3d3;
} */






  

